html {
  scroll-behavior: smooth;
}

body{
	background-color: #F6F0E6;
}

img{
	max-width: 100%;
	height: auto;
}

.inline-block{
	display: inline-block;
	vertical-align: top;
}

.logo{
	width: 23%;
	padding: 1%;
	text-align: center;
}

.navigation{
	width: 73%;
	padding: 1%;
	align-content: right;
}

ul{
	width: 50%;
	margin-left: auto;
	margin: 0;
  	padding: 0;
  	list-style-type: none;
}

.heroImg{
	height: 100%;
}

.content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.navbar {
	background-color: #F6F0E6;
	align-content: right;
}

.worksImg {
	width: 100%;
}

.nav-link {
	color: #000000;
	align-content: right;
}

nav-item :hover {
	color: #845424;
	align-content: right;
}

.container {
	align-content: right;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
